.bcGrey111 {
	background-color: #111;
}

.bcGrey333 {
    background-color: #333;
}

.bcGrey555 {
    background-color: #555;
}

.bcGrey777 {
    background-color: #777;
}

.leftAlign {
  	float: left;
}

.rightAlign {
  	float: right;
}

.centerAlign {
  	float: left;
}

.textAlignRight {
	text-align: right;
}

.textAlignLeft {
	text-align: left;
}

.textAlignCenter {
  text-align: center;
}

.colorWhite {
    color: white;
}

.paddingAll {
    padding: 0.5em;
}

.paddingLeft {
    padding-left: 0.5em;
}

.paddingRight {
    padding-right: 0.5em;
}

.paddingTop {
    padding-top: 0.5em;
}

.paddingBottom {
    padding-bottom: 0.5em;
}

.boarder-bottom-tron {
  border-color: #f44336 !important;
  border-bottom: 1px solid;
  padding-bottom: 1.3em;
}

.width100 {
    width: 100%;
}

.tableTitle {
	color: bold;
}

.tableRowHeight {
	line-height: 2em
}

.searchBar {
	float: left;
	width: 80%;
}

.tableLink{
	color: #D61719;
	/* color: tomato; */
}

.tableLink:link {
    text-decoration: none;

    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.tableLink:hover {
    cursor: pointer;
	color: #D61719;
    text-shadow: 0px 0px 0px rgba(0,0,0,1), 0 0 5px rgba(255,50,50,0.1),0 -4px 15px rgba(255,50,50,0.1);
}

.tableUrl{
	color: #D61719;
	/* color: tomato; */
}

.tableUrl:link {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.tableUrl:hover {
    cursor: pointer;
	color: #D61719;
    /* color: tomato; */
}

td, th {
    border: 1px solid #555555;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    /* background-color: #FFF; */
	background-color: #FFFACD;

}

tr:nth-child(even) {
    /* background-color: #DDD; */
	background-color: #ffcc99;
}
