.bcGrey111 {
	background-color: #111;
}

.bcGrey333 {
    background-color: #333;
}

.bcGrey555 {
    background-color: #555;
}

.bcGrey777 {
    background-color: #777;
}

.leftAlign {
  	float: left;
}

.rightAlign {
  	float: right;
}

.centerAlign {
  	float: center;
}

.textAlignRight {
	text-align: right;
}

.textAlignLeft {
	text-align: left;
}

.textAlignCenter {
  text-align: center;
}

.colorWhite {
    color: white;
}

.paddingAll {
    padding: 0.5em;
}

.paddingLeft {
    padding-left: 0.5em;
}

.paddingRight {
    padding-right: 0.5em;
}

.paddingTop {
    padding-top: 0.5em;
}

.paddingBottom {
    padding-bottom: 0.5em;
}

.boarder-bottom-tron {
}

.width100 {
    width: 100%;
}

.tableTitle {
	color: bold;
}

.tableRowHeight {
	line-height: 2em
}

.searchBar {
	float: left;
	width: 80%;
}

.tableLink{
	/* color: #D61719; */
	color: black;
}

.tableLink:link {
    text-decoration: none;

    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.tableLink:hover {
    cursor: pointer;
	color: #D61719;
    text-shadow: 0px 0px 0px rgba(0,0,0,1), 0 0 5px rgba(255,50,50,0.1),0 -4px 15px rgba(255,50,50,0.1);
}

.tableUrl{
	color: #D61719;
	/* color: tomato; */
}

.tableUrl:link {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.dropDown {
	color: blue;
	position: relative;
	z-index: 1000;
	overflow: visible;
}

.tableUrl:hover {
    cursor: pointer;
	color: #D61719;
    /* color: tomato; */
}

.resultsText{
    color:white;
}

.componentTableHeader{
    background-color: #333;
    border-top:1em solid #333;
    border-bottom:1em solid #333;
    margin-top: -0.75em;
    margin-left: 0em;
    margin-right: 0em;
    opacity:0.90;
}

td, th {
    border-left: 1px solid #BBB;
	border-right: 1px solid #BBB;


    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #FFF;
	/* background-color: #FFFACD; */
	/* background-color: #287BBF; */
	opacity: 0.97;
}

tr:nth-child(even) {
    background-color: #EEE;
	/* background-color: #ffcc99; */
	/* background-color: #F8CBFF; */
	opacity: 0.97;

}

tr:hover {
    /* background-color: #DDD; */
	/* filter: brightness(95%); */
	opacity: 0.85;
}
