.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #555555;
  color: white;
}

table {
    background-color: #777777;
    color: white;
    font-size: medium;
    width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.center {
    text-align: center;
    color: white;
    display: block;
}

td, th {
    padding: 8px;
}

a {
    box-sizing: border-box;
}

.tronText {
  text-align: left;
  padding: 20px;
}

.padding {
  padding-top: 1.3em
}
/*h2 {
    font-family: arial, sans-serif;
}*/

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}

.fullContainer {
   height:100%;
}

/*#999999
#777777
#555555
#333333
#111111*/