.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #333333;
  color: white;
}

table {
    background-color: #555555;
    color: white;
    font-size: medium;
    width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.center {
    text-align: center;
    color: white;
    display: block;
}

td, th {
    padding: 8px;
}


html {
  box-sizing: border-box;
}

.tronText {
  text-align: left;
  padding: 20px;
}

/*h2 {
    font-family: arial, sans-serif;
}*/

/*#999999
#777777
#555555
#333333
#111111*/