td, th {
    border: 1px solid #555555;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #999999;
}

.tableRowHeight {
	line-height: 2em
}

.rightAlign {
  	float: right;
  	width: 30%; 
}

.leftAlign {
  	float: left;
}

.searchBar {
	float: left;
	width: 80%; 

}

.paddingLeft {
	padding-left: 10px
}