.tableLower {
    background-color: #999999;
    color: white;
    font-family: arial, sans-serif;
    width: 100%;
    /* height: 40px; */
    /* display:block; */
    overflow:scroll;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.rightAlignText {
  text-align: right;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

li {
    display:inline-block;
    padding-left: 2em;
    padding-right: 2em;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: red;
    background-color: #111;
    text-shadow: 0px -1px 0px rgba(0,0,0,1), 0 0 5px rgba(255,50,50,0.4),0 -4px 15px rgba(255,50,50,0.2);
    border-bottom:0.3em solid tomato;
    height:2.5em;
}

.navLink:link {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    text-decoration: none;

    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.navLink:visited {
  color: white;
}

.navLink:hover {
    cursor: pointer;
    color: tomato;
    font-size: 2rem;
}

.navLink:active {
    color: darkred;
    font-size: 2rem;
}

.navLinkSelected:link {
    text-align: center;
    color: tomato;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height:2.5em;

    text-decoration: none;

    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;

    border-bottom:0.3em solid tomato;
}

.navLinkSelected:visited {
    color: tomato;
}

.navLinkSelected:hover {
    cursor: pointer;
    color: tomato;
    font-size: 2rem;
}

.navLinkSelected:active {
    color: darkred;
    font-size: 2rem;
}
