.blockExplorerNavLink:link {
    text-decoration: none;

    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.blockExplorerNavLink:visited {
  color: white;
}

.blockExplorerNavLink:hover {

    cursor: pointer;
    color: tomato;
    text-shadow: 0px -1px 0px rgba(0,0,0,1), 0 0 5px rgba(255,50,50,0.4),0 -4px 15px rgba(255,50,50,0.2);
}

.blockExplorerNavLink:active {
    color: darkred;
}

.blockExplorerNavLinkSelected:link {
    text-decoration: none;

    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.blockExplorerNavLinkSelected:visited {
  color: white;
}

.blockExplorerNavLinkSelected:hover {
    cursor: pointer;
    color: tomato;
    text-shadow: 0px -1px 0px rgba(0,0,0,1), 0 0 5px rgba(255,50,50,0.4),0 -4px 15px rgba(255,50,50,0.2);
}

.blockExplorerNavLinkSelected:active {
    color: darkred;
}

.blockExplorerUl {
    opacity: 0.90;

    margin-top: -10px;
    list-style-type: none;
    overflow: hidden;
    background-color: #555;
}

.blockExplorerLi {
    /* margin-top: -1px; */
    display:inline-block;
    color: white;
    text-align: center;
    padding: 0.5em 5em;
    text-decoration: none;
}

.blockExplorerLi:hover {
    color: red;
    background-color: #333;
    text-shadow: 0px -1px 0px rgba(0,0,0,1), 0 0 5px rgba(255,50,50,0.4),0 -4px 15px rgba(255,50,50,0.2);
    border-bottom:0.1em solid tomato;
    line-height: 1.2em;
    border-radius: 5px 5px 0px 0px;
}

.blockExplorerLiSelected {
    opacity: 0.95;
    /* display:inline-block;
    color: white;
    text-align: center;
    padding: 0.5em 5em;
    text-decoration: none;
    border-bottom:0.2em solid tomato;
    line-height: 0.8em;

    background-color: #111;
    text-shadow: 0px -1px 0px rgba(0,0,0,1);
    border-radius: 5px 5px 0px 0px; */
    /* margin-top: -200px; */

    display:inline-block;
    color: white;
    text-align: center;
    padding: 0.5em 5em;
    text-decoration: none;
    border-bottom:0.1em solid tomato;
    line-height: 1.2em;

    background-color: #333;
    text-shadow: 0px -1px 0px rgba(0,0,0,1);
    border-radius: 5px 5px 0px 0px;
}

.blockExplorerLiSelected:hover {
    color: red;
    background-color: #333;
    text-shadow: 0px -1px 0px rgba(0,0,0,1), 0 0 5px rgba(255,50,50,0.4),0 -4px 15px rgba(255,50,50,0.2);
    border-radius: 5px 5px 0px 0px;
}

.blockExplorerLiOtherSelected {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 0.5em 5em;
    text-decoration: none;
    /* margin-top: -16px; */
}

.blockExplorerLiOtherSelected:hover {
    color: red;
    background-color: #444;
    text-shadow: 0px -1px 0px rgba(0,0,0,1), 0 0 5px rgba(255,50,50,0.4),0 -4px 15px rgba(255,50,50,0.2);
    border-radius: 5px 5px 0px 0px;
}
